{% extends "registration/base.html" %}

{% block content %}
<style>
    h3{
        text-align: center;
    }
 #reset_submit{
    align-content: center;
     background-color: rgba( 224, 242, 190, 0.7);
     color: black;
     border: 1px solid rgb(147, 174, 150);
     width: 70%;
       
    }
</style>
    <div class="card-body login-card-body" style=" background-color: rgba( 224, 242,  230, 0.7);  ">
        <p class="login-box-msg"><h3 >Forgot Password</h3></p>
        <form action="" method="post">
            {% csrf_token %}
            {% for field in  form %}
                    <div class="form-group" >
            {{field.errors}}
            {{field.label_tag}}
            <input type="text" name="{{ field.html_name }}" class='form-control' id="{{ field.id_for_label }}"  style="background-color: transparent;">
            </div>
        {% endfor %}
        <button type="submit" class='btn btn-primary' id="reset_submit" >Submit</button>
        </form>

        <p class="mb-1">
            <a href="{% url 'login_page' %}" style="color: cadetblue;">Login Instead</a>
        </p>

    </div>
{% endblock content %}